{% extends "base.html" %} {% block content %}

<div class="side-menu flex-shrink-0 p-3 bg-white" style="height: 92.3%; width: 16%; float: left;">
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#home-collapse"
        aria-expanded="false"
      >
        Satellite Source
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Calibration Model v1</a></li>
          <li><a href="#" class="link-dark rounded">Calibration Model v2</a></li>
          <li><a href="#" class="link-dark rounded">Calibration Model v3</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse"
        aria-expanded="false"
      >
        Observation Date
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <input type="text" class="form-control form-control-sm mt-2" placeholder="Date">
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#location-collapse"
        aria-expanded="false"
      >
        Selected Location
      </button>
      <div class="collapse" id="location-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <form action="" class="form">
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" class="form-control form-control-sm" placeholder="Latitude">
            <label for="latitude">Longitude:</label>
            <input type="text" id="longitude" class="form-control form-control-sm" placeholder="Longitude">
          </form>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div id="map" style="height: 92.3%; width: 84%;"></div>

<script>
  var map = L.map("map").setView([13.72438, 101], 6);

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  // var imageUrl = '../weekly_rain.asc',
  //   imageBounds = [[5.4,20.6], [97.1,106.0]];
  // L.imageOverlay(imageUrl, imageBounds).addTo(map);

  // var imageUrl = '../test.tif'
  // var geoJsonLayer = L.geoJSON(imageUrl).addTo(map);
  // APICHON

  let marker = null;
  map.on('click', (event)=> {

    if(marker !== null){
        map.removeLayer(marker);
    }

    marker = L.marker([event.latlng.lat , event.latlng.lng]).addTo(map);

    console.log("Latitude: " + (document.getElementById('latitude').value = marker._latlng.lat.toFixed(5)));
    console.log("Longtitude: " + (document.getElementById('longitude').value = marker._latlng.lng.toFixed(5)));
    
})
</script>
{% endblock %}
