{% extends "base.html" %} {% block content %}

<div
  class="side-menu flex-shrink-0 p-3 bg-white"
  style="height: 92.3%; width: 16%; float: left"
>
  <ul class="list-unstyled ps-0">
    <li class="mb-4">
      <h5>Observation Date</h5>
      <div style="font-size: 9px">Note: If the date you selected is not already downloaded in our data storage, the system will download and process the file on demand which may take a few seconds [more than 30 seconds]</div>
      <p></p>
      <input type="date" id="ob_date" name="ob_date" value="2023-06-01" />
      
      <p class="loading-text"></p>
      <div id="loading" class="loading"></div>
      <div class="loading-text">Loading...</div>
      <div class="loading-text">This may take few seconds.</div>
      
    </li>
    <li class="mb-4">
      <h5>Selected Location</h5>
      Latitude:
      <p class="fw-bold text-success" id="latitude">&emsp;N/A</p>
      Longitude:
      <p class="fw-bold text-success" id="longitude">&emsp;N/A</p>
    </li>
    <li class="mb-4">
      <h5>Information</h5>
      Precipitation Value:
      <p class="fw-bold text-success" id="precip">&emsp;N/A</p>
    </li>
    <!-- <li style="bottom: 20px; width: 100%;">
      <p>Your custom footer text here.</p>
    </li> -->
  </ul>
</div>

<div id="map" style="height: 92.3%; width: 84%"></div>

<script>
  // var frontendIP = "34.207.155.164";
  var backendIP = "34.207.155.164";

  var osm = L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    minZoom: 0,
    maxZoom: 10,
  });

  // Overlay layers
  var lyr = L.tileLayer("https://persiann-tile-files.s3.amazonaws.com/CCS_1d20230601/{z}/{x}/{y}.png", {
    tms: 1,
    opacity: 0.7,
    attribution: "",
    minZoom: 0,
    maxZoom: 10,
  });

  // Map
  var map = L.map("map", {
    center: [13.72438, 101],
    zoom: 6,
    minZoom: 0,
    maxZoom: 10,
    layers: [osm, lyr],
  });

  var basemaps = { OpenStreetMap: osm };
  var overlaymaps = { "2023-06-01": lyr };

  var controlLayer;
  // Add base layers
  controlLayer = L.control.layers(basemaps, overlaymaps, { collapsed: false });
  controlLayer.addTo(map);

  // Fit to overlay bounds (SW and NE points with (lat, lon))
  // map.fitBounds([
  //   [5.4, 106.0],
  //   [20.6, 97.1],
  // ]);

  // var map = L.map("map").setView([13.72438, 101], 6);

  // L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
  //   maxZoom: 19,
  //   attribution:
  //     '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  // }).addTo(map);

  // ---------------------------------------------------
  // var imageUrl = '../weekly_rain.asc',
  //   imageBounds = [[5.4,20.6], [97.1,106.0]];
  // L.imageOverlay(imageUrl, imageBounds).addTo(map);

  // var imageUrl = '../test.tif'
  // var geoJsonLayer = L.geoJSON(imageUrl).addTo(map);
  // APICHON

  var selectedDate = document
    .getElementById("ob_date")
    .value.replaceAll("-", "");

  let marker = null;
  map.on("click", (event) => {
    if (marker !== null) {
      map.removeLayer(marker);
    }

    marker = L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);

    document.getElementById("latitude").innerHTML =
      "&emsp;" + marker._latlng.lat.toFixed(5);
    document.getElementById("longitude").innerHTML =
      "&emsp;" + marker._latlng.lng.toFixed(5);

    const apiUrl = "http://" + backendIP + ":8001/api/getprecip/";

    // Define your query parameters
    const lat = marker._latlng.lat.toFixed(5);
    const lon = marker._latlng.lng.toFixed(5);

    selectedDate = document.getElementById("ob_date").value;

    const date = selectedDate.replaceAll("-", ""); // Make sure the date is in a format accepted by your API

    // Construct the full URL with query parameters
    const urlWithParams = `${apiUrl}?lat=${lat}&lon=${lon}&date=${date}`;

    // Variable to store the precip-value
    let precipValue;

    // Perform the GET request
    fetch(urlWithParams)
      .then((response) => {
        // Check if the response is ok
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
      })
      .then((data) => {
        // Assuming the response has a 'precip-value' field
        precipValue = data["precip-value"];

        if (precipValue === "-99") {
          document.getElementById("precip").innerHTML = "&emsp;" + "N/A";
        } else {
          document.getElementById("precip").innerHTML = "&emsp;" + precipValue;
        }
      })
      .catch((error) => {
        console.error("There was a problem with the fetch operation:", error);
      });
  });

  function updateControlPanel(date) {
    // Assuming overlaymaps is a global variable
    overlaymaps = { [date]: lyr };

    if (controlLayer) {
      map.removeControl(controlLayer);
    }

    // Add the new control layer
    controlLayer = L.control.layers(basemaps, overlaymaps, {
      collapsed: false,
    });
    controlLayer.addTo(map);
  }

  function updateLayer(folder_name) {
    
    var newUrl = `https://persiann-tile-files.s3.amazonaws.com/${folder_name}/{z}/{x}/{y}.png`;

    // Check if lyr is already on the map and remove it
    if (map.hasLayer(lyr)) {
      map.removeLayer(lyr);
    }

    // Update the lyr URL and add it back to the map
    lyr.setUrl(newUrl);
    lyr.addTo(map);
  }

  // document.getElementById("ob_date").addEventListener("change", function () {
  //   var selectedDate = this.value;
  //   var folderName = "CCS_1d" + selectedDate.replaceAll("-", "");
  //   updateLayer(folderName);
  //   updateControlPanel(selectedDate);
  // });

  document.getElementById("ob_date").addEventListener("change", function () {
    var selectedDate = this.value;
    var folderName = "CCS_1d" + selectedDate.replaceAll("-", "");

    var folderCheckUrl =
      "http://" + backendIP + ":8001/api/checkdata/?foldername=" +
      encodeURIComponent(folderName);
    // console.log(folderCheckUrl);

    fetch(folderCheckUrl)
      .then((response) => response.json())
      .then((data) => {
        // console.log(data["folder-exist"]);
        if (data["folder-exist"]) {
          // console.log("Folder exist.");
          if (marker !== null) {
            map.removeLayer(marker);
          }
          document.getElementById("precip").innerHTML = "&emsp;" + "N/A";
          document.getElementById("latitude").innerHTML = "&emsp;" + "N/A";
          document.getElementById("longitude").innerHTML = "&emsp;" + "N/A";
          updateLayer(folderName);
          updateControlPanel(selectedDate);
        } else {
          // console.log("Folder not exist.");
          document.getElementById("ob_date").disabled = true;
          return performGetRequest(selectedDate.replaceAll("-", "")).then(() => {
            // These functions are called after performGetRequest is completed
            if (marker !== null) {
              map.removeLayer(marker);
            }
            document.getElementById("precip").innerHTML = "&emsp;" + "N/A";
            document.getElementById("latitude").innerHTML = "&emsp;" + "N/A";
            document.getElementById("longitude").innerHTML = "&emsp;" + "N/A";
            updateLayer(folderName);
            updateControlPanel(selectedDate);
            document.getElementById("ob_date").disabled = false;
            // console.log("DONE");
          });
        }
      })
      .catch((error) => {
        console.error("Error checking folder existence:", error);
      });
  });

  function performGetRequest(date) {
    return new Promise((resolve, reject) => {
        var loading = document.getElementById("loading");
        var loadingtext = document.getElementsByClassName("loading-text");
        loading.style.display = "block"; // Show loading circle
        for (var i = 0; i < loadingtext.length; i++) {
            loadingtext[i].style.display = "block";
        }

        let formattedDate = date.replace(/(\d{4})(\d{2})(\d{2})/, '$3-$2-$1');

        var folderCheckUrl = "http://" + backendIP + ":8001/preprocess/load/?date=" + encodeURIComponent(formattedDate);

        fetch(folderCheckUrl)
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                resolve(data); // Resolve the promise with the data
            })
            .catch((error) => {
                console.error("There was a problem with the fetch operation:", error);
                reject(error); // Reject the promise with the error
            })
            .finally(() => {
                loading.style.display = "none"; // Hide loading circle
                for (var i = 0; i < loadingtext.length; i++) {
                    loadingtext[i].style.display = "none";
                }
            });
    });
}

</script>
{% endblock %}
